# Vercel Serverless Function (root project, bukan di dalam /frontend)
JWT_SECRET=

# Set 'true' HANYA kalau SIAKAD error sertifikat SSL invalid/self-signed.
# Default aman: biarkan kosong / 'false'.
SIAKAD_ALLOW_INSECURE_TLS=true

# Frontend (vite)
ALLOWED_ORIGINS=http://localhost:5173